<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <h2>Ваш пароль не подходит под обновленные требования, пожалуйста, обновите его</h2>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <form method="post" action="/update_password">

        <label for="password"><span>Пароль</span></label>
        <input type="password" id="password" name="password">

        <label for="confirm_password"><span>Подтверждение пароля</span></label>
        <input type="password" id="confirm_password" name="confirm_password">

        <button type="submit">Обновить пароль</button>
    </form>
</body>
</html>